.tab {
    display: flex;
    border: 1px solid White;
    background-color: White;
    margin-top: 10pt;
border-radius: 8pt;
  }
  
  /* Style the buttons inside the tab */
  .tab label {
    background-color: inherit;
    border: none;
    padding: 5pt 5px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
    flex: 1;
    text-align: center;
  }

  .tab label{
    border-radius: 8pt;
  }
  
  .tab label:nth-child(2) {
    border-radius: 8pt;
  }
  
  /* Change background color of buttons on hover */
  .tab label:hover {
    background-color: rgb(0, 0, 0);
    color: White;
  }
  
  /* Create an active/current tablink class */
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:checked + label {
    background-color: rgb(0, 0, 0);
    color: White;
  }
  