
html, body {
    padding: 0px;
    margin: 0px;
  }

  #container {
    background-color: black;
    display: grid;
    overflow-y: auto;    height: 100vh;
    grid-template-columns: 100pt auto;
    grid-template-rows: 15vh 25vh 5vh 10vh 30vh 15vh auto;
  }

  #c1 {
    background-color: aquamarine;
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
   
  }
  #c2{
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    background-color: red;
  }

  
  #c3 {
    background-color: bisque;
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
  }

  #footer {
    background-color: pink;
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
  }

#logo{
    background-color: orange;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
  #nav{
    background-color: green;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
  }
  #info{
    background-color: grey;
    grid-column: 1 / span 1;
    grid-row: 3 / span 3;
  }

/************************************************************************************
      MEDIA QUERIES
      *************************************************************************************/
      /* for 980px or less */
e      @media screen and (max-width: 980px) {

        * { font-size: 1.0rem; }

        #nav{
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
          }
          #info{
     
            grid-column: 1 / span 2;
            grid-row: 7 / span 1;
            height: 50pt;
          }
          #c1{
            grid-column: 1 / span 2;
            grid-row: 2 / span 2;
          }
          #c2{
            grid-column: 1 / span 2;
            grid-row: 4 / span 1;
          }
          #c3{
            grid-column: 1 / span 2;
            grid-row: 5 / span 1;
          }
      }

      /* for 700px or less */
      @media screen and (max-width: 700px) {

        * { font-size: 0.9rem; }

        #content {
          width: auto;
          float: none;
        }
        #sidebar {
          width: auto;
          float: none;
        }

      }

      /* for 480px or less */
      @media screen and (max-width: 480px) {

        * { font-size: 0.8rem; }

        #header {
          height: auto;
        }

        #sidebar {
          display: none;
        }

      }