html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
background-color: #f0ece1;

}
body *{
    margin-bottom: 5pt;
}
.header{
    background-color: #413823;
}
a{
    text-decoration: none; /* Removes underline */
        color: inherit;  
}
.nav li:hover {
    color: #312a1a;
    outline: 2px solid #312a1a;

}

.nav li{
    font-size: 12pt; 
    word-spacing: 0pt;
    display: inline-block;
    margin: 5pt 2.5pt;
    background-color: #81785d;
}
.nav{
    text-align: center;
    font-size: 0;
}

ol{
    font-size: 0pt;
}

li{
    color: white;
    display: inline-block;
    font-size: 12pt;
    margin: 0pt 2.5pt;
    background-color: #81785d;
    padding: 3pt 5pt;
    border-radius: 5pt;
}
div{
    text-align: center;
}

a[href^="CatGallery.html"]{
margin: 10pt;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    width: 90%;
  }
  table tr:nth-child(even) {
    background-color: #cec8b7;
}

  table tr th,
  table tr td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
  }
  table tr th:first-child,
  table tr td:first-child {
    border-left: 1px solid #bbb;
  }
  table tr th {
    color: white;
    text-align: center;
    background: #413823;
    border-top: 1px solid #bbb;
  }
  
  /* top-left border-radius */
  table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
  
  td {
    width: 100pt; 
  }
  
#cat_image{
    height: 200pt;
    border-radius: 5pt;
}

  td img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    border-radius: 5pt;
    vertical-align: bottom; /* Ensure image aligns in the middle, adjust if needed */
  }
  p span {
    color: blue;
  }

 

  li {
    position: relative;
    cursor: pointer;
  }

  li:hover img {
    display: block;
  }

  .pop_img {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    left: 50pt; /* Adjust based on your layout */
    width: 25vw; /* Set the desired image size */
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
.container h1 {
font-size: 100pt; 
color: #81785d;
margin: 0 auto;
}
.container {
  display: flex;
  align-items: center;
  width: auto;
  height: 400pt;
}